
.form {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    /* max-width: 400px; */
    /* margin: 0 auto; */
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-weight: bold;
    /* margin-bottom: 0.5rem; */
  }
  

  
  .buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
    /* margin-top: 1rem; */
  }
  
  .button {
    /* padding: 0.75rem 1.5rem; */
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
  }
  
  .buttonSave {
    background-color: #4CAF50;
    color: white;
  }
  
  .buttonCancel {
    background-color: #f44336;
    color: white;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .tickk{
   height: 2rem;
   width: 2rem;
  }
  .cross{
    height: 2rem;
    width: 2rem;
  }
  .iconButton{
    border: none;    
    background: none;          
    outline: none;         
    padding: 0;                  
    margin: 0;                              
    cursor: pointer;             
    text-decoration: none;
  }
  .seachbar{
    width: 80%;
    border-radius:0.5rem;
    height: 1.2rem;
    border: 2px solid #C0C0C0; 
  }
  .container{
    display: flex;
    gap: 1rem;
  }
  .select{
    width: 140%;
    border-radius:0.5rem;
    border: 2px solid #C0C0C0; 
    height: 1.6rem;
  }
  .input{
    width: 90%;
    border-radius:0.5rem;
    border: 2px solid #C0C0C0; 
    height: 1.3rem;
  }
  .inputGroup2{
    /* padding-right: 2rem; */
  }
  
  .inputGroup3{
    /* padding-left: 1rem; */
    margin-left: 2rem;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
  }
  
  .div {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem; 
  }
  
  .textarea {
    width: 93%;
    height: 100px; 
    padding: 10px;
    font-size: 0.78rem;
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    resize: none; 
    outline: none; 
    transition: border-color 0.3s ease-in-out; 
  }
  
  .textarea:focus {
    border-color: #007bff; 
  }
  
 